<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{url_for('static',filename='article-content.css')}}"
      rel="stylesheet"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>StudyWithPam | content</title>
  </head>
  <body>
    <div class="container">
      <h3 class="date">
        {{post.date}} | <span class="category">{{post.course}}</span>
      </h3>
      <div class="article-header">
        <h1>{{post.topic}}</h1>
        <div class="writer">
          <p>
            Author<br />
            <a
              href="{{url_for('profile',user_id=post.author.id)}}"
              class="author_tag"
              ><span id="author-name">{{post.author.name}}</span></a
            >
          </p>
        </div>
      </div>
      <hr />

      <div class="content">
        <p>{{post.body | safe}}</p>
      </div>
    </div>
  </body>
  <footer>
    <h3>Comments</h3>
    <div class="comment_texts">
      {%for comment in comments %}
      <h6 class="comment_header">
        <span class="comment_author">{{comment['comment_author']}}</span> |
        <span class="comment_date"> {{comment['comment_date']}}</span>
      </h6>
      <p class=".comment_text">{{comment['comment_text']}}</p>
      {% endfor %}
    </div>
    <textarea
      form="comment_form"
      name="comment"
      class="comment"
      placeholder="Add Comment"
    >
    </textarea>

    <form
      action="/comment/{{post.id}}"
      method="post"
      id="comment_form"
      class="comment"
    >
      <button type="submit" class="btn btn-primary">Comment</button>
    </form>
  </footer>
</html>
