{%include "components/navbar.html"%}
<link href="{{url_for('static',filename='articles.css')}}" rel="stylesheet" />

<!-- SEARCH BAR -->
<form>
  <div class="row mx-5">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control search"
        placeholder="Search medical topics and more..."
      />
      <button class="btn btn-secondary" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</form>

<!-- LATEST POST -->
<div class="mx-5 mt-4 text-dark shadow row lastest-post">
  <div class="col-12 content mt-sm-4">
    <h6>Biochemistry</h6>
    <h4>Water, the unique solvent of life</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, et
      eaque. Velit quam dolores aperiam eveniet vitae reiciendis similique?
    </p>
  </div>
</div>

<!-- OTHER POSTS -->

<div class="mx-5 mt-4 row d-flex justify-content-between other-post">
  {% for post in posts %}
  <a
    class="col-12 col-sm-6 col-lg-3 post"
    href="{{url_for('article_content', id=post.id)}}"
  >
    <section class="section-content">
      <h6>{{post.course}}</h6>
      <h4>{{post.topic}}</h4>
      <p>{{post.body[0:350] | striptags}}</p>
    </section>
    <p>Likes | Comments</p>
  </a>
  {% endfor %}
</div>
{%include "components/footer.html"%}
