{%include "components/navbar.html"%}
<link href="{{url_for('static',filename='articles.css')}}" rel="stylesheet" />

<!-- SEARCH BAR -->
<form>
  <div class="row mx-5">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control search"
        placeholder="Search medical topics and more..."
      />
      <button class="btn btn-secondary" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</form>

<!-- LATEST POST -->
<div class="mx-5 mt-4 text-dark shadow row lastest-post">
  <div class="col-12 col-md-4 bg-secondary img">IMG GOES HERE</div>
  <div class="col-12 col-md-7 content mt-sm-4">
    <h6>Biochemistry</h6>
    <h4>Water, the unique solvent of life</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, et
      eaque. Velit quam dolores aperiam eveniet vitae reiciendis similique?
    </p>
    <p><span class="bi bi-eye">10 Reads</span></p>
  </div>
</div>

<!-- OTHER POSTS -->
<div class="mx-5 mt-4 row d-flex justify-content-between other-post">
  <div class="col-12 col-sm-6 col-lg-3 post">
    <section class="section-img">IMAGE GOES HERE</section>
    <section class="section-content">
      <h6>Physiology</h6>
      <h4>The structure of the human body</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolorum
        iure dolorem iste quisquam in rem ullam omnis quis perferendis tenetur
      </p>
    </section>
  </div>

  <a class="col-12 col-sm-6 col-lg-3 post">
    <section class="section-img">IMAGE GOES HERE</section>
    <section class="section-content">
      <h6>Physiology</h6>
      <h4>The structure of the human body</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolorum
        iure dolorem iste quisquam in rem ullam omnis quis perferendis tenetur
      </p>
    </section>
  </a>
  <div class="col-12 col-sm-6 col-lg-3 post">
    <section class="section-img">IMAGE GOES HERE</section>

    <section class="section-content">
      <h6>Physiology</h6>
      <h4>The structure of the human body</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolorum
        iure dolorem iste quisquam in rem ullam omnis quis perferendis tenetur
      </p>
    </section>
  </div>
</div>
{%include "components/footer.html"%}
