<link href="{{url_for('static',filename='index.css')}}" rel="stylesheet" />

{%include 'components/navbar.html' %}

<!-- JUMBOTRON -->
<div class="row text-white rounded jumbo">
  <div class="col-md-6 p-5">
    <h1 class="text-dark">Study With Pam</h1>
    <p id="jumbo_para">...to demystify medicine.</p>
  </div>
</div>

<!-- EMAIL NEWS ALERT FORM -->
<div class="d-flex mt-5 justify-content-center">
  <div class="row jumboENA">
    <div class="col-xs-12 col-md-6 text">
      <h3>Get the latest posts</h3>
      <p>Enter your Email address and never miss a post</p>
    </div>
    <div class="col-xs-12 col-md-6 formdiv">
      <form>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter your Email"
          />
          <button class="btn btn-primary" type="button">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- FEATURED -->

<section class="lists mt-4 ms-4">
  <h6>This is study with pam</h6>
  <p class="identification writer">Pedro Chinomso</p>
  <time class="identification" datetime="28-01-2022">28-01-2022</time>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat quisquam
    quaerat vel, fugit doloremque cumque! Consectetur officiis eveniet, incidunt
    enim aut, voluptas expedita exercitationem quae necessitatibus laborum
    laudantium in fugit.
  </p>
</section>

<!-- FOOTER -->

{%include "components/footer.html"%}
