{%include "components/navbar.html "%}

<link
  href="{{url_for('static',filename='profilepage.css')}}"
  rel="stylesheet"
/>

<div class="row text-white profile-header">
  <div class="col-3 profile-image">
    <img src="{{url_for('get_img',id=user_id)}}" class="profile-picture" />
  </div>
  <div class="col-9">
    <div class="col-md-9 profile-content">
      <span
        ><h4>{{user.name}}</h4>
      
        <p>Joined {{user.creation_date}}</p>
     
      {%if user.profile_description%}
      <p>{{user.profile_description}}</p>
      {% else %}
      <p>Welcome to my SWP profile page</p>
      {% endif %}
    </div>
  </div>
</div>

<div class="content row">
  {%if user_id == id: %}
  <div class="col-2">
    <a href="{{url_for('post_article',user_id=id)}}">
      <button class="btn btn-primary">CREATE ARTICLE</button></a
    >

    <a href="{{url_for('upload_image',user_id = id)}}"><button
      class="btn btn-secondary"
    >
      UPDATE PROFILE PICTURE
    </button></a>
    <a href="{{url_for('description',user_id=id)}}"
      ><button class="btn btn-success">UPDATE PROFILE DESCRIPTION</button></a
    >
  </div>
  {% endif %}
  <div class="col-10 profile-posts">
    <div class="mx-5 mt-4 row d-flex justify-content-between other-post">
      {% for post in posts.items %}
      <div class="col-12 col-sm-6 col-lg-3 post" >

        <section class="section-content">
          <h6>{{post.course}}
             {%if user_id == id %}
              <a href="{{url_for('delete_article',article_id = post.id)}}"><span class="badge bg-danger delete">Delete Article</span></a>
              {%endif%}</h6>
          <h4>{{post.topic}}</h4>
          <p>{{post.body[0:350] | safe}}</p>
        </section>
        <a class="read-more" href="{{url_for('article_content', id=post.id)}}"
      >Read More  </a>
    </div>
      {% endfor %}
    </div>
  </div>
  
  
</div>

<div class="page_numbering">
  {%for page_num in
  posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)%}
  {%if page_num%} {% if posts.page == page_num%}
  <a class="btn btn-dark mb-4" href="{{url_for('profile',user_id =user_id , page=page_num)}}">
    {{page_num}}
  </a>
  {%else%}
  <a
    class="btn btn-outline-dark mb-4"
    href="{{url_for('profile',user_id=user_id,page=page_num)}}"
  >
    {{page_num}}
  </a>
  {%endif%} {%else%} ... {%endif%} {%endfor%}
</div>
{%include "components/footer.html" %}
